#headerwrap{
  margin-top:60px;
}

.book_cover
{
  width: 250px;
}

.book_block
{
  padding: 30px;
  height: 550px;
}

.book_block:hover
{
  background: #eee;
}

.book_block a
{
 display: block; /* Ссылка как блочный элемент */
 height: 100%; /* Высота на весь слой */
 text-decoration: none;
 color: inherit;
}

.like_icon
{
  background-image:url(../img/like_icon.png);
  background-repeat: no-repeat;
  background-size: 17px;
  padding-left: 25px;
}

.comment_icon
{
  background-image:url(../img/comment_icon.png);
  background-repeat: no-repeat;
  background-size: 17px;
  padding-left: 25px;
  margin-left: 10px;
}


.book_big_cover
{
  width: 400px;
}

.like_big_icon
{
  background-image:url(../img/like_icon.png);
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 30px;
  font-size: 30px;
}

.comment_big_icon
{
  background-image:url(../img/comment_icon.png);
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 30px;
  margin-left: 30px;
  font-size: 30px;
  background-position-y: 2px;
}

.buttons_book
{
  margin-top: 50px;
}

.small_buttons_book
{
  margin-top: 20px;
}

.book_image_text_block
{
  height: 445px;
  overflow: hidden;
}

.comments
{
  background: #f2f2f2;
}

.book_description
{
  margin-bottom: 30px;
}

.commentsCnt
{
    
}

.comment
{
    margin: 10px 0;
}

.userName
{
  font-size: 20px;
  margin-bottom: 5px;
}

.commentText
{
  margin-bottom: 10px;
  margin-left: 120px;
}

.avatar
{
  width: 100px; 
  height: 100px; 
  margin-right: 20px;
}

.gray_text
{
  color: gray;
}

.no_horizontal_scroll 
{
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) 
{
  #headerwrap
    {
    margin-top:100px;
  }
  
  .container 
    {
    width: 800px;
  }
}

